{% extends 'home/base.html' %}

{% block title %}Kezdőoldal{% endblock %}

{% load static %}
{% block content %}
<section id="home" class="hydroponic-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>A technológiánk:</h2>
        <p>mesterséges intelligenciával támogatott növénydiagnosztika, amely lehetővé teszi a növények állapotának automatizált monitorozását és azonosítja a betegségeket vagy fertőzéseket. </p>
        <p>A rendszer gyors és pontos diagnózist nyújt, lehetővé téve a termelők számára, hogy időben és hatékonyan reagáljanak a problémákra, és javaslatokat kapjanak a megfelelő kezelési módszerekre. </p>
        <p>Ez a technológia segíti a termelőket a terméshozam növelésében és a fenntartható növénytermesztésben.</p>
      </div>
      <div class="col-md-6">
        <h2 class="section-title text-center mb-4">Előnyök és Fontos Tudnivalók</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="mb-3"><i class="bi bi-award-fill text-primary me-2"></i>Előnyök</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><i class="bi bi-droplet-fill text-primary me-2"></i>Pontos diagnózis</li>
              <li class="mb-2"><i class="bi bi-globe text-primary me-2"></i>Gyors reakció</li>
              <li class="mb-2"><i class="bi bi-calendar2-check-fill text-primary me-2"></i>Fenntartható növénytermesztés</li>
              <li class="mb-2"><i class="bi bi-shield-fill text-primary me-2"></i>Kevesebb növénybetegség</li>
              <li class="mb-2"><i class="bi bi-tools text-primary me-2"></i>Felhasználóbarát</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3 class="mb-3"><i class="bi bi-lightbulb-fill text-primary me-2"></i>Fontos Tudnivalók</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><i class="bi bi-bookmark-star-fill text-primary me-2"></i>Mesterséges intelligencia</li>
              <li class="mb-2"><i class="bi bi-tools text-primary me-2"></i>Automatizált rendszer</li>
              <li class="mb-2"><i class="bi bi-journal-richtext text-primary me-2"></i>Hatékony kezelés</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Termékeink</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/product1.jpg' %}" class="card-img-top" alt="Termék 1">
          <div class="card-body">
            <h5 class="card-title">Mesterséges intelligencia alapú kamerarendszer</h5>
            <p class="card-text">Növénydiagnosztika, amely lehetővé teszi a növények állapotának automatizált monitorozását és azonosítja a betegségeket vagy fertőzéseket.</p>
            <a href="#" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/product2.jpg' %}" class="card-img-top" alt="Termék 2">
          <div class="card-body">
            <h5 class="card-title">Hidroponikus növénytermesztés</h5>
            <p class="card-text">A hidropolikus növénytermesztés egy talaj nélküli termesztési módszer, ahol a növényeket tápanyagban gazdag vízben termesztik.</p>
            <a href="#" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/product4.jpg' %}" class="card-img-top" alt="Termék 3">
          <div class="card-body">
            <h5 class="card-title">Növényfelismerő applikáció</h5>
            <p class="card-text">Ingyenesen kipróbálható  lehetővé teszi a felhasználók számára, hogy fotókat készítsenek növényekről, és azonosítsák azokat segítve ezzel a növények azonosítását és a kertészkedést.</p>
            <a href="#" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Rólunk</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-3">Miért minket válasszon?</h3>
        <p>Válasszon minket, mert olyan innovatív technológiát kínálunk, amely mesterséges intelligenciával monitorozza és azonosítja a növénybetegségeket, lehetővé téve a gyors és hatékony beavatkozást. </p>
        <p>Előnyünk, hogy rendszerünk automatizált, pontos és gyors diagnózist nyújt, így segítve a termelőket a terméshozam növelésében és a környezeti fenntarthatóság megőrzésében. A cég tevékenysége magában foglalja a növények állapotának folyamatos monitorozását,</p>
        <p>a betegségek és fertőzések korai felismerését, valamint javaslatokat és tanácsokat nyújt a kezeléshez, biztosítva ezzel a hatékony és fenntartható növénytermesztést.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/aboutus.jpg' %}" alt="Rólunk" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="contact" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Kapcsolat</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-1 form-container" >
        <form action="#" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Üzenet</label>
            <textarea class="form-control" id="message" name="message" rows="3" style="resize: none;" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mb1 bg-olive">Küldés</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
