{% extends 'core/base.html' %}

{% block title %}Kezdőoldal{% endblock %}

{% load static %}
{% block content %}
<section id="home" class="hydroponic-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>A technológiánk:</h2>
        <p>Mesterséges intelligenciával támogatott növénydiagnosztika, amely azonosítja a növények betegségeit és fertőzéseit, valamint azonosítja a növényeket.</p>
        <p>A rendszer gyors és pontos diagnózist nyújt, lehetővé téve a termelők számára, hogy időben és hatékonyan reagáljanak a problémákra, és javaslatokat kapjanak a megfelelő kezelési módszerekre. </p>
        <p>Ez a technológia segíti a termelőket a terméshozam növelésében és a fenntartható növénytermesztésben.</p>
      </div>
      <div class="col-md-6">
        <h2 class="section-title text-center mb-4">Előnyök és Fontos Tudnivalók</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="mb-3"><i class="bi bi-award-fill text-primary me-2"></i>Előnyök</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><i class="bi bi-droplet-fill text-primary me-2"></i>Pontos diagnózis</li>
              <li class="mb-2"><i class="bi bi-globe text-primary me-2"></i>Gyors reakció</li>
              <li class="mb-2"><i class="bi bi-calendar2-check-fill text-primary me-2"></i>Fenntartható növénytermesztés</li>
              <li class="mb-2"><i class="bi bi-shield-fill text-primary me-2"></i>Kevesebb növénybetegség</li>
              <li class="mb-2"><i class="bi bi-tools text-primary me-2"></i>Felhasználóbarát</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3 class="mb-3"><i class="bi bi-lightbulb-fill text-primary me-2"></i>Fontos Tudnivalók</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><i class="bi bi-bookmark-star-fill text-primary me-2"></i>Mesterséges intelligencia</li>
              <li class="mb-2"><i class="bi bi-journal-richtext text-primary me-2"></i>Hatékony kezelés</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Funkcióink</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/func1.png' %}" class="card-img-top custom-img-height" alt="Termék 1">
          <div class="card-body">
            <h5 class="card-title">Levélbetegség felismerő</h5>
            <p class="card-text">A Levélbetegség felismerő funkció segítségével a felhasználók képesek azonosítani a növények levelein megjelenő betegségeket, és pontos diagnózist kapnak a képek elemzése alapján.</p>
            <a href="{% url 'leaf_disease_info' %}" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/func2.png' %}" class="card-img-top custom-img-height" alt="Termék 2">
          <div class="card-body">
            <h5 class="card-title">Növényfelismerő</h5>
            <p class="card-text">A Növényfelismerő funkció lehetővé teszi a felhasználók számára, hogy képek alapján azonosítsák a különböző növényfajtákat.</p>
            <a href="{% url 'plant_identifier_info' %}" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{% static 'images/func3.jpg' %}" class="card-img-top custom-img-height" alt="Termék 3">
          <div class="card-body">
            <h5 class="card-title">Levélbetegség és növény adatbázis</h5>
            <p class="card-text">A Levélbetegség és növény adatbázis funkció segítségével a felhasználók hozzáférhetnek a növények és a hozzájuk kapcsolódó betegségekkel kapcsolatos részletes információkhoz és azok kezelésére vonatkozó ajánlásokat.</p>
            <a href="{% url 'plant_database_info' %}" class="btn btn-primary mb1 bg-olive">További információ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Rólunk</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-3">Miért minket válasszon?</h3>
        <p>Válasszon minket, mert olyan innovatív technológiát kínálunk, amely mesterséges intelligenciával azonosítja a növénybetegségeket és a növényeket, lehetővé téve a gyors és hatékony beavatkozást. </p>
        <p>A betegségek és fertőzések korai felismerése, valamint javaslatok és tanácsok nyújtása a kezeléshez, biztosítja a hatékony és fenntartható növénytermesztést.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/logo.png' %}" alt="Rólunk" class="img-fluid ">
      </div>
    </div>
  </div>
</section>

<section id="contact" class="hydroponic-section py-5">
  <h2 class="section-title text-center mb-4">Kapcsolat</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-1 form-container" >
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Üzenet</label>
            <textarea class="form-control" id="message" name="message" rows="3" style="resize: none;" required></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mb1 bg-olive">Küldés</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
