@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

* {
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #008000;
}

.header {
  background-color: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.custom-img-height {
  height: 250px!important; 
  object-fit: cover!important;
}

.logo {
  font-size: 24px;
  color: #333333;
  text-decoration: none;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: right;
  align-items: center; 
  height: 100%; 
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #008000;
}

.header.scrolled {
  background-color: #f7f7f7; 
  padding: 5px 20px;
}

.logo img {
  max-width: 250px;
  max-height: 100px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

textarea.form-control {
  height: 150px; 
  width: 300px;
}

.bg-olive {
  background: #57b846!important;
  color:#ffffff!important;
  --bs-btn-bg: #57b846!important;
  --bs-btn-border-color: #57b846!important;
  --bs-btn-hover-bg: #57b846!important;
  --bs-btn-hover-border-color: #57b846!important;
  --bs-btn-active-bg: #57b846!important;
  --bs-btn-active-border-color: #57b846!important;
  --bs-btn-disabled-bg: #57b846!important;
  --bs-btn-disabled-border-color: #57b846!important;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.footer-section {
  flex: 1;
}

.header-section{
  flex: 1;
}

.contact-info p {
  margin: 5px 0;
}

.social-links li {
  display: inline-block;
  margin: 0 5px;
}

.social-links li a {
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.social-links li a:hover {
  background-color: #444;
}

.logosmall {
  max-width: 70px;
  max-height: 70px;
}
