{% extends 'core/base.html' %}

{% block content %}
{% load static %}

<div class="form-modal">
  <div id="login-form">
    {% if validlink %}
      <form method="POST">
        {% csrf_token %}
        <input type="password" name="new_password1" placeholder="Új jelszó" Required/>
        {% if form.new_password1.errors %}
          <div class="text-danger">{{ form.new_password1.errors }}</div>
        {% endif %}
        
        <input type="password" name="new_password2" placeholder="Jelszó megerősítése" Required/>
        {% if form.new_password2.errors %}
          <div class="text-danger">{{ form.new_password2.errors }}</div>
        {% endif %}
        
        <button type="submit" class="btn login">Új jelszó mentése</button>
        <p><a href="{% url 'login' %}">Vissza a belépéshez</a></p>
        <hr/>
      </form>
    {% else %}
        <div class="alert" style="text-align: center;">
            A jelszó-visszaállítási link érvénytelen vagy már használatban volt.
        </div>
        <div style="text-align: center;">
        <a href="{% url 'password_reset' %}" class="btn login">Új jelszó-visszaállítási link igénylése</a>
        </div>
        <hr/>
    {% endif %}
  </div>
</div>

{% endblock %}