{% extends 'home/base.html' %}

{% block title %}Kezelőfelület{% endblock %}

{% block header %}
<div class="header-section">
    <ul class="nav-list">
        <li class="nav-item"><a href="#">Kezelőfelület</a></li>
        <li class="nav-item"><a href="#settings">Beállítások</a></li>
        <li class="nav-item"><a href="#datas">Adatok</a></li>
        <li class="nav-item"><a href="#suggestions">Ajánlások</a></li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">
                        {% if user.is_authenticated %}
                            {{ user.get_full_name }}
                        {% else %}
                            Profile
                        {% endif %}
                    </li>
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/signout">Kijelentkezés</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>  
{% endblock %}

{% load static %}
{% block content %}
{% endblock %}